@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Niconne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary-bg: linear-gradient(
			126deg,
			#6a35ee 0%,
			#9930ef 14.24%,
			#5737ee 49.56%,
			#795ceb 93.2%
		);
		--scroller-container: linear-gradient(
			45deg,
			transparent,
			white 30%,
			white 90%,
			transparent
		);
	}
	body {
		@apply text-white  transition-all ease-in-out duration-500;
	}
	main {
		@apply min-h-screen font-poppins;
	}
	header,
	footer {
		@apply font-lato py-2 xl:text-2xl font-bold md:text-xl px-8;
	}
	footer {
		@apply bg-footer;
	}
	header {
		@apply bg-header;
	}
	section {
		@apply px-8;
	}
	img {
		@apply max-w-full h-auto align-middle italic;
	}
	.primaryColor {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		font-family: inherit;
		font-size: 13px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.4px;
		color: #516d91;

		background-color: #e0e8ef;
		border-style: solid;
		border-width: 2px 2px 2px 2px;
		border-color: rgba(255, 255, 255, 0.333);
		border-radius: 40px 40px 40px 40px;
		padding: 16px 24px 16px 28px;
		transform: translate(0px, 0px) rotate(0deg);
		transition: 0.2s;
		box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
	}
	.primaryColor:hover {
		background-color: #e5edf5;
		color: #7e97b8;

		box-shadow: -4px -2px 16px 0px #ffffff,
			4px 2px 16px 0px rgb(95 157 231 / 48%);
	}

	.primaryColor:active {
		box-shadow: none;
	}

	.blackBg {
		background-color: var(--black-clr);
	}

	.containerButton {
		filter: drop-shadow(
				-14.719192504882812px 17.347618103027344px 84.10966491699219px rgba(143, 0, 255, 0.23)
			)
			drop-shadow(
				15.770564079284668px -13.667821884155273px 112.49666595458984px rgba(255, 0, 0, 0.28)
			);
		flex-shrink: 0;
	}

	button {
		@apply border-none font-poppins;
	}
	/* ! util */
	.animeWord {
		@apply text-pinky font-bold;
	}
	.borderCard {
		@apply border-primaryCard border-2 border-solid rounded-xl py-8;
	}
	.heading {
		@apply lg:text-4xl md:text-3xl text-2xl font-semibold text-center mb-8;
	}
	.flexBetween {
		@apply flex justify-between items-center;
	}
	.wrapper {
		@apply max-w-6xl mx-auto;
	}
	.secondWrapper {
		@apply max-w-5xl mx-auto;
	}
	.dropdownButton {
		@apply btn font-extrabold border-x-0 text-white border-y-4  border-opacity-30 border-white  bg-transparent;
	}
	.dropdownContent {
		@apply font-poppins font-semibold;
	}
	.daisyInput {
		@apply input input-bordered w-full bg-transparent;
	}
	.daisyInnerDropdown {
		@apply p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52;
	}
	/* ! header */
	nav {
		@apply flexBetween wrapper gap-4;
	}
	.logo {
		@apply xl:w-24 md:w-20 w-16;
	}
	.middleNav {
		@apply md:flexBetween hidden xl:gap-16 md:gap-2 gap-8;
	}
	.wrapperMiddleMobileNav {
		@apply md:hidden fixed left-0 top-0 w-full h-screen bg-header text-white p-10 z-10;
	}
	.middleMobileNav {
		@apply flex h-full flex-col items-center justify-start mt-20 gap-20 text-5xl;
	}
	.rightNav {
		@apply flexBetween gap-4 z-10;
	}
	/* ! hero */
	.sectionBanner {
		background: url('/banner-edited.jpg');
		mask: var(--scroller-container);
		@apply h-80 w-full bg-no-repeat bg-top
			bg-cover bg-fixed flex items-center justify-center z-0 relative;
	}
	.innerBanner {
		/* @apply flex flex-col gap-4; */
		text-wrap: balance;
	}
	.titleBanner {
		@apply xl:text-8xl lg:text-7xl  md:text-6xl sm:text-5xl text-4xl inline-block font-lato font-bold;
	}
	.descriptionBanner {
		@apply md:text-2xl text-xl;
	}
	.titleBanner,
	.descriptionBanner {
		text-wrap: balance;
	}
	.star {
		@apply sm:opacity-100 opacity-80 absolute;
	}
	/* ! datebayo */
	.requestedDatebayo {
		@apply wrapper mt-4  mx-auto text-center;
	}
	.datebayoImg {
		@apply md:w-36 sm:w-28 w-20;
	}
	.datebayoHeading {
		@apply xl:text-6xl lg:text-5xl sm:text-3xl text-xl font-semibold font-niconne text-pinky;
	}
	.innerDatebayo {
		@apply flex flex-col items-center justify-center gap-1;
	}
	.containerDatebayo {
		@apply flex mx-auto justify-center items-center sm:gap-4;
	}
	.requestedDatebayo p {
		text-wrap: balance;
		@apply sm:text-xs text-sm font-extralight;
	}
	.requestedDatebayo input {
		@apply min-w-[93px] w-full placeholder:px-4 py-1 bg-white text-black placeholder:text-sm placeholder:italic rounded-sm flex-1;
	}
	.hrVertical {
		@apply bg-white w-full h-1 rounded-sm;
	}

	/* ! top anime & manga & random anime */
	.sectionTop {
		@apply wrapper my-12 px-8;
	}
	.wrapperTop {
		@apply grid gap-y-8 gap-x-3 sm:grid-cols-base-auto-fit grid-cols-sm-auto-fit;
	}
	.innerTop {
		@apply flex flex-col gap-2 text-center mx-auto;
	}
	.innerTop .titleAnime {
		max-width: 208px;
		margin-inline: auto;
		@apply font-semibold text-lg;
	}
	.innerTop span,
	.innerTop p {
		text-wrap: balance;
		@apply block text-myWhite;
	}
	.hoverImageTitle {
		@apply font-semibold text-center text-lg;
	}
	.topImage {
		@apply sm:h-72 sm:w-64 w-52 h-52 object-cover rounded-t-xl rounded-b-md mx-auto;
	}
	.sectionRandom {
		@apply w-fit mx-auto;
	}
	.randomImage {
		@apply object-cover rounded-t-xl rounded-b-md;
	}
	.wrapperRandom {
		@apply flex justify-center;
	}
	.hoveredImgAnime {
		@apply w-full bg-main absolute rounded-xl py-6 px-2 z-10 text-start shadow-md shadow-main;
	}
	.genres {
		@apply flex gap-1 flex-wrap justify-center my-4;
	}
	/* ! single anime + anime recoms */
	.singleAnimeSection {
		@apply wrapper my-10;
	}
	.titleSingleAnime {
		@apply mb-4;
	}
	.containerSingleAnime {
		@apply grid grid-cols-md-auto-fit py-2 px-8 gap-4 rounded-xl;
	}
	.containerLinks {
		@apply grid grid-cols-links-auto-fit py-2 px-8 gap-4 rounded-xl;
	}
	.singleAnimeDetails {
		@apply secondWrapper grid grid-cols-md-auto-fit gap-2 w-full;
	}
	.innerSingleAnimeDetails {
		@apply flexBetween items-center w-full;
	}
	.singleAnimeDetails div span {
		@apply opacity-20;
	}
	.secondSingleAnimeDetails {
		@apply secondWrapper grid grid-cols-3 gap-8;
	}
	.secondSingleAnimeDetails div p {
		text-wrap: balance;
	}
	.imgSingleAnime {
		@apply rounded-xl object-cover h-full w-full;
	}
	.secondInnerSingleAnime {
		@apply grid grid-cols-2 text-center;
	}
	.linkGenre {
		@apply btn rounded-none sm:self-baseline
		sm:col-span-1 col-span-2 px-5;
	}
	.wrapperAnimeRecom {
		@apply secondWrapper grid sm:grid-cols-base-auto-fit grid-cols-sm-auto-fit gap-y-4 gap-x-2;
	}
	.linkSingleAnime {
		@apply uppercase p-3 text-center hover:scale-105 shadow-primary transition-all duration-200;
	}
	.synopsisContainer {
		@apply flex flex-col gap-2;
	}
	.specialWordAnimeDetails {
		@apply text-pinky font-semibold;
	}
	.innerDetailsMd {
		@apply bg-main font-semibold rounded-md p-3 text-lg flex flex-col gap-4;
	}
	.secondInnerDetailsMd {
		@apply flex-col items-center justify-center text-center;
	}
	.innerContainer {
		@apply flex-col flex m-4 gap-4 flex-1;
	}
	.innerDetails {
		@apply flexBetween p-2;
	}
	.secondInnerDetails {
		@apply flexBetween p-3 w-10/12;
	}
}
